{% extends 'base.html' %}

{% block title %}HTMLContacts{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
        <td></td>
      <td>Глеб</td>
      <td>+00000000000</td>
      <td>glebushka@mail.ru</td>
    </tr>
    <tr>
      <th scope="row">2</th>
        <td></td>
      <td>Тоха</td>
      <td>+11111111111</td>
      <td>T0CH@outlook.com</td>
    </tr>
    <tr>
      <th scope="row">3</th>
        <td></td>
      <td>Артём</td>

      <td>+22222222222</td>
      <td>artyomka000@gmail.com</td>
    </tr>
  </tbody>
</table>
{% endblock %}